<div class="space-background">
  <div class="stars-wrapper"></div>
</div>

<div class="container">

  <div class="logo-box">
    <img src="/logo.jpg" class="logo-small">
    <div class="logo-glow"></div>
  </div>

  <div class="form-area">

    <h1 class="title">LOGIN</h1>

    <form class="auth-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="Email"
               name="email"
               [(ngModel)]="credentials.email"
               required>
      </div>

      <div class="form-group">
        <input [type]="showPassword ? 'text' : 'password'"
               class="form-control"
               placeholder="Senha"
               name="senha"
               [(ngModel)]="credentials.senha"
               required>
        <i class="password-toggle-icon"
           [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
           (click)="togglePasswordVisibility()"></i>
      </div>

      <button type="submit" class="btn-submit">Entrar</button>
    </form>

    <a routerLink="/esqueci-senha" class="back-link">Esqueceu a senha?</a>
    <a routerLink="/cadastro" class="back-link">Não tenho uma conta</a>
  </div>

</div>
